In [99]:
import numpy as np
import pandas as pd

df = pd.read_csv('/Users/duk3y2/Desktop/MS_Data_Science/github_local/StudentsPerformance.csv')
x = df.iloc[:, 5:8]
y = df['race/ethnicity']

In [32]:
Y.info

<bound method Series.info of 0      group B
1      group C
2      group B
3      group A
4      group C
        ...
995    group E
996    group C
997    group C
998    group D
999    group D
Name: race/ethnicity, Length: 1000, dtype: object>

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [15]:
df['race/ethnicity'].unique()

array(['group B', 'group C', 'group A', 'group D', 'group E'],
      dtype=object)

In [17]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [96]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler, LabelEncoder 
from sklearn import tree

clf = SVC(kernel='linear')
clf1 = KNeighborsClassifier()
lclf = LogisticRegression()
scaler = StandardScaler()
encoder = LabelEncoder()
clf2 = tree.DecisionTreeClassifier()

x_new = scaler.fit_transform(x)
y_new = encoder.fit_transform(y)

x_train,x_test,y_train,y_test = train_test_split(x_new,y)



clf.fit(x_train,y_train)
lclf.fit(x_train,y_train)
clf1.fit(x_train,y_train)
clf2.fit(x_train,y_train)

DecisionTreeClassifier()

In [98]:
clf.predict([[45,70,22]])

array(['group C'], dtype=object)

In [107]:
lclf.score(x_test,y_test)

0.336

In [106]:
lclf.score(x_train,y_train)

0.36533333333333334

In [46]:
x_new[:6,:]

array([[ 0.39002351,  0.19399858,  0.39149181],
       [ 0.19207553,  1.42747598,  1.31326868],
       [ 1.57771141,  1.77010859,  1.64247471],
       [-1.25954302, -0.83389925, -1.58374436],
       [ 0.65395415,  0.60515772,  0.45733301],
       [ 0.32404085,  0.94779033,  0.65485663]])

In [84]:
x_test.shape

(250, 3)

In [85]:
y_test[:10]

847    group D
774    group B
280    group D
304    group C
306    group E
29     group D
858    group B
398    group B
478    group D
958    group D
Name: race/ethnicity, dtype: object

In [108]:
import pickle

with open('logres.pkl','wb') as file:
    pickle.dump(lclf,file)