In [12]:
import numpy as np
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/Geelit989/Midterm/main/StudentsPerformance.csv')
x = df.drop(columns=['race/ethnicity'])
y = df['race/ethnicity']

In [13]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   parental level of education  1000 non-null   object
 2   lunch                        1000 non-null   object
 3   test preparation course      1000 non-null   object
 4   math score                   1000 non-null   int64
 5   reading score                1000 non-null   int64
 6   writing score                1000 non-null   int64
dtypes: int64(3), object(4)
memory usage: 54.8+ KB

In [14]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [15]:
df['race/ethnicity'].unique()

array(['group B', 'group C', 'group A', 'group D', 'group E'],
      dtype=object)

In [15]:
x.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler, LabelEncoder 
from sklearn import tree

#clf = SVC(kernel='linear')
#clf1 = KNeighborsClassifier()
lclf = LogisticRegression()
scaler = StandardScaler()
encoder = LabelEncoder()
#clf2 = tree.DecisionTreeClassifier()

x['gender'] = encoder.fit_transform(x['gender'])
x['parental level of education'] = encoder.fit_transform(x['parental level of education'])
x['lunch'] = encoder.fit_transform(x['lunch'])
x['test preparation course'] = encoder.fit_transform(x['test preparation course'])
y_new = encoder.fit_transform(y)

x_train,x_test,y_train,y_test = train_test_split(x,y)



#clf.fit(x_train,y_train)
lclf.fit(x_train,y_train)
#clf1.fit(x_train,y_train)
#clf2.fit(x_train,y_train)

/Users/duk3y2/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [20]:
predictions = lclf.predict(x_test)

In [22]:
predictions[200]

'group D'

In [18]:
lclf.score(x_test,y_test)

0.34

In [19]:
lclf.score(x_train,y_train)

0.36933333333333335

In [46]:
x_new[:6,:]

array([[ 0.39002351,  0.19399858,  0.39149181],
       [ 0.19207553,  1.42747598,  1.31326868],
       [ 1.57771141,  1.77010859,  1.64247471],
       [-1.25954302, -0.83389925, -1.58374436],
       [ 0.65395415,  0.60515772,  0.45733301],
       [ 0.32404085,  0.94779033,  0.65485663]])

In [84]:
x_test.shape

(250, 3)

In [85]:
y_test[:10]

847    group D
774    group B
280    group D
304    group C
306    group E
29     group D
858    group B
398    group B
478    group D
958    group D
Name: race/ethnicity, dtype: object

In [24]:
import pickle

with open('logres.pkl','wb') as file:
    pickle.dump(lclf,file)